<%include file="header.html" />

<p>
  
  You can set the parameters to extract the image contour: the minimal contour size <i>m</i>.
  By default the image threshold is defined from the Otsu algorithm but you can set manually.
  
  The contour extracted will be used as input of the meaningful scale algorithm.
  
</p>

<form action="${app.base_url + 'wait'}" method="get">
  <div class="action">
    Set the contour extraction parameters and run the algorithm. <BR>
    <input type="hidden" name="key" value="${app.key}">
    <ul>
      <li><label for="m"><i>minimal contour size m</i>:</label> 
        <input type="text" name="m" value="10" size="4" /></li>
    <li><label for="t"><i>contour threshold slection:</label> 
    <ul>
    <li><input type="radio" name="thresholdtype" value="True" checked> auto (Otsu) </li>
    <li><input type="radio" name="thresholdtype" value="False" > manual 
    <input type="text" name="t" value="128" size="4" /> </li>
</ul>
    </li>
    </ul>
    <BR>
 Run the algorithm <input type="submit"  name="action" value="run" />

    %if int(app.cfg['param']['x1']) < 0 or int(app.cfg['param']['y1']) < 0 :
      <p>Or you can run it after selecting a subimage by clicking two
         opposite corners of the subimage.</p>
      <p><input type="image" style="cursor:crosshair;" name="click"
                src="${app.work_url + 'input_0_selection.png'}" /></p>
    %elif int(app.cfg['param']['x2']) < 0 or int(app.cfg['param']['y2']) < 0 :
      <p>Please select the second corner of the subimage:</p>
      <p><input type="image" style="cursor:crosshair;" name="click"
          src="${app.work_url + 'input_0_selection.png'}" /></p>
    %else:
      <p>The algorithm will run on this selected subimage:</p>
      <img src="${app.work_url + 'input_0_selection.png'}" />
    %endif

</form>


<hr />

<%include file="footer.html" />
